html {
    height: 100%;
    background-image: linear-gradient(to right, rgb(17, 40, 60), rgb(101, 116, 130));
    /* background: url(../images/background-boards-brown-518245.jpg); */
    background-repeat:
      no-repeat,
      no-repeat;
    background-position: 
      top,
      bottom;
   
}

p {
    margin: 0, 5%;
}
/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
  } */

.my-2 {
    border-top: 1px solid white;
}

a .fab {
    color: white;
    /* color: rgb(215, 220, 227); */
}

a {
    color: rgb(215, 220, 227);
}
.fab {
    padding: .5rem;
}

body {
    height: fit-content;
    /* background: url(../images/black-and-white-gray-grey-1050305.jpg); */
    background-image: linear-gradient(to right, rgb(17, 40, 60), rgb(101, 116, 130));
    background-repeat:
      no-repeat,
      no-repeat;
    background-position: 
      top,
      bottom;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    padding: 3rem;
    padding-bottom: 1.75rem;
    align-content: center;
    background: transparent;
    text-align: center;
    margin: 0;
}

#nameMain {
    color: white;
    /* color: rgb(26, 48, 82); */
    font-size: 3rem;
    font-family: 'Nothing You Could Do', cursive;

    background: transparent;
    padding-bottom: 8px;
}

#aboutMe {
    padding-left: 1.3rem;
}

.row {
    display: block;  
}

#title {
    display: inline-block;
    align-self: center;
    padding-right: 25px;
}

#intro {
    /* display: flex; */
    margin: 5%;
    margin-top: 3%;
}

#initPara {
    margin-top: 1rem;
}

#profilePic {
    text-align: center;
    margin: .8rem;
    border-radius: 50%;
}

#nav-profile{
    margin: 5% 15%;
}

#nav-about{
    margin: 5%;
}

#nav-home { 
    font-size: 1.2rem;
}

#nav-contact {
    font-size: 1.5rem;
}

.nav-tabs {
    border-bottom: 1px solid #ebeef2;
    font-size: 1.5rem;
    /* justify-content: space-around; */
    justify-content: center;
    margin: 2.5%;
}

#showcase {
    background: transparent;
    width: 50%;
}

li {
    color: rgb(215, 220, 227);
}

.carousel {
    position: relative;
    margin: 5%;
}

.carousel-control-next .carousel-control-prev{
    font-size: 3.5rem; 
    color: rgb(104, 114, 128);
}

a:hover {
    color: #7497c4;
}

i:hover {
    color: #7497c4;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    opacity: 0.65;
    color: rgb(26, 48, 82);
}

.nav-item .nav-link {
color: white;
}

.nav-item .nav-link .active
.nav-link {
    color: rgb(26, 48, 82);
}


@media screen and (max-width: 520px){
    #title {
        display: block;
    }
    
    .fa-3x {
        font-size: 2rem;
    }

    .fa-2x {
        font-size: 2rem;
    }

    #nav-tab {
        display: block;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 625px){
    #nav-tab {
        display: block;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 1150px){
    .carousel {
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 12%;
    }
}